python-dotenv
tiktoken
openai

sentence_transformers
# pdfminer
# pdf2image
# pdfminer-six

opencv-python
Pillow

langchain
unstructured
python-docx
python-pptx
pymupdf
markdown
pandoc      # EPUB is an e-book file format that uses the ".epub" file extension.

# FastAPI
fastapi
python-multipart
aiofiles
uvicorn[standard]
gunicorn
sacremoses

# Chroma
chromadb

# # Milvus
# protobuf
# grpcio-tools
# pymilvus

redis

# UI
gradio
gradio_client
