python-dotenv
tiktoken
openai
langchain
sentence_transformers
pdfminer
unstructured
pdf2image
pdfminer-six
opencv-python

# FastAPI
fastapi
python-multipart
aiofiles
uvicorn[standard]
gunicorn
sacremoses

# Chroma
chromadb

# Milvus
protobuf
grpcio-tools
pymilvus

# UI
gradio
gradio_client
