<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    </head>
    <body>
        <div style="text-align: center">
            <h1>{{title}} {{version}}</h1>
            <h2 style="text-align: left; font-size: xx-large;">开发文档</h2>
            <list style="text-align: left; font-size: x-large;">
                <li><a href="docs" style="text-decoration: none">Swagger UI</a></li>
                <li><a href="redoc" style="text-decoration: none">ReDoc</a></li>
            </list>
            <table width="100%">
                <tr style="font-size: x-large;"><th>原图</th><th>预测图</th></tr>
                {% for image in images %}
                <tr>
                    <td><img src="/static/images/source/{{image}}" style="margin: 0 auto; width: 100%;" /></td>
                    <td><img src="/static/images/target/{{image}}" style="margin: 0 auto; width: 100%;" /></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
